﻿body {
}

#header {
    color:#fff;
    background-color:#365D95;
}

input[type=submit] {
    color:#fff;
    background-color:#365D95;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    padding-bottom: .2em;
    vertical-align: middle;
}